<div class="dif-checker">
  <div class="file-pickers">
    <div class="file-pick">
      <span class="label">First file: </span>
      <input type="file" />
    </div>
    <div class="file-pick">
      <span class="label">Second file: </span>
      <input type="file" />
    </div>
  </div>
  <div class="sheet-selector">
    <div class="label">
      <span class="selector-label">
        Select sheet to check
      </span>
    </div>
    <div class="select">
      <select>
        <option class="sheet-name">Select sheet name</option>
      </select>
    </div>
  </div>
</div>
