<div class="box-wrap">
  <div class="spoiler" (click) = "spoil('file')">
    <span class="spoiler-switch">{{isSpoiled.file ? '+' : '-'}}</span> Files
  </div>
  <div class="file-input-box box" [class]="{'spoiled' : isSpoiled.file}">
    <div>
      <h2 class="subtitle">Load files:</h2>
      <div class="file-inputs">
        <div class="file">
          <span>Transition table</span>
          <input
            accept = ".xls, .xlsx, .xlsm"
            type="file" multiple="false" (change)="onFileUpload($event, 'vui')" />
        </div>
        <div class="file">
          <span>Command mapping</span>
          <input
            accept = ".xls, .xlsx, .xlsm"
            type="file" multiple="false" (change)="onFileUpload($event, 'commands')" />
        </div>
      </div>
    </div>
    <hr *ngIf="sheetNames" />
    <div class="sheet-selector" *ngIf="sheetNames && !loadedFromLocalStorage">
      <h2 class="subtitle">Select sheet</h2>
      <div class="select">
        <select (change) = "selectSheet($event)">
          <option *ngFor="let name of sheetNames" class="sheet-name">{{name}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="fileName || commandFileName" class="file-list">
      <h2 class="subtitle">Files loaded:</h2>
      <span *ngIf="fileName"><span class="checkmark">&#10004;</span> <span class="filename">{{fileName}}</span> with <span class="filename">{{selectedName}}</span> sheet</span><br />
      <span *ngIf="commandFileName"><span class="checkmark">&#10004;</span>  <span class="filename">{{commandFileName}}</span></span>
    </div>
  </div>
</div>

<div class="box-wrap">
  <div class="follow-up-box box" *ngIf="lines" [class]="{'spoiled' : isSpoiled.followUp}">
    <div class="spoiler" (click) = "spoil('followUp')">
      <span class="spoiler-switch">{{isSpoiled.followUp ? '+' : '-'}}</span> Follow-Up
    </div>
    <app-follow-up-flow
        [fileType] = "fileType"
        [lines]="lines"
        [selectedFilterValue]="selectedFilterValue"
        [followUpFromSearch]="followUpFromSearch"
        [columnIDs] = "columnIDs"
        (commandClick)="onCommandClick($event)"
    ></app-follow-up-flow>
  </div>
</div>

<div class="box-wrap">
  <div class="search-box box"  *ngIf="lines" [class]="{'spoiled' : isSpoiled.search}">
    <div class="spoiler" (click) = "spoil('search')">
      <span class="spoiler-switch">{{isSpoiled.search ? '+' : '-'}}</span> Search
    </div>
    <app-search [fileType] = "fileType" [lines] = "lines" [columnIDs] = "columnIDs" (commandClick)="onCommandClick($event)" (followUpClick)="onFollowUp($event)"></app-search>
  </div>
</div>

<div class="box-wrap">
  <div class="search-box box"  *ngIf="lines" [class]="{'spoiled' : isSpoiled.nluDiffChecker}">
    <div class="spoiler" (click) = "spoil('nluDiffChecker')">
      <span class="spoiler-switch">{{isSpoiled.nluDiffChecker ? '+' : '-'}}</span> NLUSpec diff checker
    </div>
    <app-nlu-diff-checker>
    </app-nlu-diff-checker>
  </div>
</div>

<div class="box-wrap">
  <div class="search-box box"  *ngIf="lines" [class]="{'spoiled' : isSpoiled.diffChecker}">
    <div class="spoiler" (click) = "spoil('diffChecker')">
      <span class="spoiler-switch">{{isSpoiled.diffChecker ? '+' : '-'}}</span> Diff Checker (Excel rough check)
    </div>
    <app-diff-checker
    (fileLoad) = "onDiffFileLoad($event)"
    (sheetSelect) = "onDiffSheetSelect($event)"
    [diffData] = "diffData"
    >
    </app-diff-checker>
  </div>
</div>

<app-popup
  [isModalActive] = "modalActive"
  [isModalHasContent] = "modalHasContent"
  [commandColumnIDs] = "commandColumnIDs"
  [commandLines] = "findColumn"
  (popupClose)="onPopupClose()"
></app-popup>
