.sheet-name {
    display: inline-block;
    padding: 5px;
    border: 1px solid lightblue;
    margin: 3px;
    cursor: pointer;

    &.selected {
        background: lightblue;
        color: white;
    }
}

.file-input-box, .sheet-names-box {
    padding: 20px;
}