.sheet-name {
    display: inline-block;
    padding: 5px;
    border: 1px solid lightblue;
    margin: 3px;
    cursor: pointer;

    &.selected {
        background: lightblue;
        color: white;
    }
}

.file-input-box, .sheet-names-box {
    padding: 20px;
}

.sheet-selector {
    margin-top: 10px;
}

.file-inputs {
    width: 500px;
    margin-top: 10px;
}

.file {
    display: flex;
    justify-content: space-between;
}

.box {
    transition-duration: .5s;
}

.box.spoiled {
    overflow: hidden;
    height: 10px;
    padding: 0;
}

.box-wrap {
    position: relative;
    margin: 40px 0;
}

.spoiler {
    position: absolute;
    top: -8px;
    left: -8px;
    background: #efefef;
    border-radius: 5px;
    padding: 2px 20px;
    box-shadow: 0px 0px 20px #ccc;
    cursor: pointer;

    &-switch {
       font-weight: bold; 
    }
}
