.sheet-name {
    display: inline-block;
    padding: 5px;
    border: 1px solid lightblue;
    margin: 3px;
    cursor: pointer;

    &.selected {
        background: lightblue;
        color: white;
    }
}

.table {
  display: flex;
  flex-direction: row;
  align-content: center;
  box-sizing: border-box;
}

.item {
  width: auto;
  background-color: beige;
  padding-right: 10px;
  border: 1px solid black;
  text-align: center;
}

.title {
  font-size: 18px;
  background-color: burlywood;
}
