{
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "editor.formatOnSave": true,
    "overrides": [
        {
            "files": "*.test.js",
            "options": {
                "semi": true
            }
        },
        {
            "files": [
                "*.html",
                "legacy/**/*.js"
            ],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}