<div *ngIf="lines" class="search-box">
    <app-table-filter
      [lines] = "lines" [columnIDs] = "columnIDs" [fileType] = "fileType"
      (filterChange) = "onFilterChange($event)">
    </app-table-filter>
    <div class="select">
        <select (change) = "filterByContext($event)">
            <option *ngFor="let context of contextList">{{context}}</option>
        </select>
    </div>
    <input (change) = "onSearchType($event)" type="text" class="input search" placeholder="Search"/>
    <div class="result">
        <table *ngIf="result?.length > 1" class="table is-striped is-fullwidth">
            <thead>
                <th>line ID</th>
                <ng-container *ngFor="let item of columnIDs">
                    <th *ngIf="filter[item]">{{headers[fileType][item]}}</th>
                </ng-container>
            </thead>
            <tbody>
                <ng-container *ngFor="let line of result">
                    <tr *ngIf="selectedContext === allContext || line.columns['B'] === selectedContext" class="result-variant">
                        <td>{{line.row}}</td>
                        <ng-container *ngFor="let key of objectKeys(line.columns)">
                            <td *ngIf="filter[key] && line.columns[key] === 'Follow-Up'" (click) = "followUp(line)" class="is-follow-up-cell">
                                {{line.columns[key]}}
                            </td>
                            <td *ngIf="filter[key] && line.columns[key] != 'Follow-Up' && key === 'G'" class="is-command-cell" (click) = "onCommandClick(line.columns[key])">
                                {{line.columns[key]}} <i class="fa fa-question-circle"></i>
                            </td>
                            <td *ngIf="filter[key] && line.columns[key] != 'Follow-Up' && key != 'G'">
                                {{line.columns[key]}}
                            </td>
                        </ng-container>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

</div>
