
.cursor {
  cursor: pointer;
}

.breadcrumbs {
  padding: 20px 0;
}

.search, .default-columns {
  margin: 10px 0;
}

.criterias {
  display: flex;
  flex-wrap: wrap;
}

.search-box {
  padding-top: 20px;
}

.is-follow-up-cell, .is-command-cell {
  cursor: pointer;
}

.search, .default-columns {
  margin: 10px 0;
}

.is-follow-up-cell, .is-complete-cell {
  font-weight: bold;
}

.is-follow-up-cell {
  background-color: lightyellow;
}

.is-complete-cell {
  background-color: lightgreen;
}

.is-error-cell {
  background-color: crimson;
}