<div *ngIf="lines">
    <br />
    <h2 class="subtitle">Select top condition</h2>
    <div class="select">
        <select (change)="selectFilter($event)" [(ngModel)]="selectedValue">
            <option *ngFor="let name of selectedFilterValue" class="sheet-name">{{
                name
            }}</option>
        </select>
    </div>
    <button class="button is-primary" (click)="selectCondition()">Find condition</button>
</div>

<div class="main">
    <div *ngFor="let table of mainFlow; index as index">
        <div class="main">
            <div class="main">
                <div class="divTable follow-table">
                    <div *ngIf="table" class="divTableHeading">
                        <div class="divTableHead">Context Name</div>
                        <div class="divTableHead">Command Id</div>
                        <div class="divTableHead">Final prompt Id</div>
                        <div class="divTableHead">Follow up context</div>
                        <div class="divTableHead">Action class</div>
                    </div>

                    <div *ngFor="let line of table.table" class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell">{{ line.B }}</div>
                            <div class="divTableCell">{{ line.G }}</div>
                            <div class="divTableCell">
                                {{ line.L }}
                            </div>
                            <div class="divTableCell">{{ line.P }}</div>

                            <div
                                (click)="
                                    onClickFollowUp(
                                        $event,
                                        line.O,
                                        index,
                                        line.P
                                    )
                                "
                                class="divTableCell"
                                [ngClass]="{
                                    cursor: line.O === 'Follow-Up',
                                    'color-yellow': line.O === 'Follow-Up',
                                    'color-green': line.O === 'Task Complete'
                                }"
                            >
                                {{ line.O }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div [ngStyle]="followUpBoxStyle">
                <div class="main">
                    <h6 class="padding-right-10">{{ table.nextFollowUp }}</h6>

                    <button
                        [ngClass]="{
                            disabled: !table.nextFollowUp
                        }"
                        class="button is-warning"
                        (click)="selectConditionForFollowUp()"
                    >
                        Find condition
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
