<div class="dif-checker">
  <div class="file-pickers">
    <div class="file-pick">
      <span class="label">First file: </span>
      <input multiple="false" (change) = "loadFile($event, 'first')" type="file" />
    </div>
    <div class="file-pick">
      <span class="label">Second file: </span>
      <input multiple="false" (change) = "loadFile($event, 'second')" type="file" />
    </div>
  </div>
  <div class="check" (click) = "check()" >
    <button class="button is-primary">Check</button>
  </div>
</div>
