.file-pickers {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 20px 0;
}

.check {
  text-align: center;
}

.lines {
  margin-top: 15px;
}

.line {
  border: 1px solid #ccc;
  padding: 3px 10px 3px 30px;
  position: relative;
  overflow-wrap: break-word;
  color: black;
}

.line.added {
  background-color: lightgreen;
}

.line.added::before {
  position: absolute;
  content: "+";
  top: 2px;
  left: 6px;
}

.line.removed {
  background-color: tomato;
}

.line.removed::before {
  position: absolute;
  content: "-";
  top: 2px;
  left: 8px;
}

.small {
  font-size: 14px;
  color: black
}

.green {
  color: green;
  font-weight: 900
}

.red {
  color: red;
  font-weight: 900
}

.no-changes {
  margin-top: 10px;
  text-align: center;
}
