<div class="dif-checker">
  <div class="file-pickers">
    <div class="file-pick">
      <span class="label">First file: </span>
      <input
      accept = ".nluspec" multiple="false"
      (change) = "loadFile($event, 'first')" type="file" />
    </div>
    <div class="file-pick">
      <span class="label">Second file: </span>
      <input
      accept = ".nluspec" multiple="false"
      (change) = "loadFile($event, 'second')" type="file" />
    </div>
  </div>
  <div class="check" (click) = "check()" >
    <button class="button is-primary">Check</button>
  </div>
  <div class="lines">
    Topic example: <div class="tag" (click) = "topicClick($event)">General.Send</div>
    <ng-container *ngFor="let line of changeList">
      <div *ngFor="let value of line.value" class="line" [class]="{
        'added': line.type === 'added',
        'removed': line.type === 'removed'
      }">
        {{value}}
      </div>
    </ng-container>
    <div class="no-changes" *ngIf="checked && !changeList.length">
      No changes detected
    </div>
  </div>

  <br/>

  <ng-container >
    <div *ngIf = "linesList.length">
        <spar class="red small">red color => </spar>
        <spar>delete</spar>
        <br/>
        <spar class="green small">green color => </spar>
        <spar>add</spar>
    </div>
  
    <div *ngFor="let lines of linesList">
      <div *ngFor="let line of lines">
        <span *ngFor="let val of line"  class="small" [class]="{
          'green': val.added,
          'red': val.removed
        }">
          {{val.value}}
      </span>
    </div>
        
    </div>
    
  </ng-container>
</div>
